{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173563544-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173563544-1');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Relevant and Irreverent | Welcome</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static './css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  <style>
    @media(max-width: 420px){
  .box4{
    margin-top:-1rem;
    
    line-height:1.7;
    grid-area:box4;
    background:url('{% static './images/world.png' %}');
    clip-path: circle(58% at 50% 50%);
    
    position:relative;
  }
  .box4 p{
    padding: 30px 15px 0px 15px;
    text-align:center;
    font-family: 'Crimson Text', serif;
    font-size:15px;
    font-weight: 400;
  }
    }
</style>
</head>
<body>
    <header class='top-header'>
        <div class="navbar">
          <div class="navlogo">
            <img src="{% static './images/R&I-logo.png' %}" alt="logo">
          </div>
       <div class="subscribe-link-wrapper">
        <div class="subs-top">
          <!-- <div class="messages-top" id="message-top">{% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          </div> -->
          <div><button  class="sub-btn" id ="sub-btn"  name="check-result" value="check-result">Subscribe</button></div>
          
          <div class="input-form-wrapper" id="input-form" style="margin-bottom:35px;">
          <form action="{% url 'subscribe' %}" method="POST" class="sub-input-form" id="input-form">
              {% csrf_token %}
           <div> <input type="email" id="email-field" style="display:none;" name="email" placeholder="Enter your email address" required></div>  
           <div> <button type="submit" class="sub-btn" id ="final-sub-btn" style="display:none;" name="subscribe" value="subscribe">Subscribe</button></div>
          </form>
        </div>
        
        </div>
        
            <nav class="nav-items">
              <ul>
                  <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'latestnews' %}">Latest</a></li>
                <li><a href="{% url 'archives'%}">Archives</a></li>
                <li><a href="{% url 'storytitle'%}">Contests</a></li>
                <li><a href="{% url 'contactus' %}">Contact</a></li>
              </ul>
            </nav>
          </div>
          </div>
      </header>
      <main class="grid-container">
      <div class="grid">

    
        <div class="box1"><h2 class="main-text">Welcome to <span class="text-highlight">Relevant & Irreverent</span></h2></div>
        
        <a href="{% url 'storiesbytopic' 'womens-issues' %}"><div class="box2">
          <div class="box-image"><img src="{% static './images/womenissues.jpg' %}" alt="women"></div>
          <div class="box-title"><p>Women's issues</p></div>
          </div></a>

          <a href="{% url 'storiesbytopic' 'animal-rights' %}"><div class="box3">
            <div class="box-image"><img src="{% static './images/animalrights.jpg' %}" alt="Animals"></div>
            <div class="box-title"><p>Animal rights</p></div>
            </div></a>
            
        <div class="box4" style="background:url('{% static './images/world.png' %}');"><p>Relevant & Irreverent<br> is a weekly roundup of interesting and impactful stories from around the world. 
           Through the week we scan through newspapers and other news sources from around the world for meaningful content that'll keep you in the know.<br> Some of our stories will leave you feeling good and others will leave you outraged, questioning and maybe even moved to action.<br>
          The stories we’re talking about inspire, inform and entertain us, make us think and help us connect with the world.<br>
          We care about the environment, we care about animal and human rights, we’re totally into innovation and we’ve got nothing but respect for the ones making a change. 
           </p></div>
           <a href="{% url 'storiesbytopic' 'preserving-the-planet' %}"><div class="box5">
            <div class="box-image"><img src="{% static './images/conservation.jpg' %}"></div>
            <div class="box-title"><p>Preserving the Planet</p></div>
            </div></a>

            <a href="{% url 'storiesbytopic' 'human-rights' %}"><div class="box6">
              <div class="box-image"><img src="{% static './images/humanrights.jpg' %}"alt="human rights"></div>
              <div class="box-title"><p>Human rights</p></div>
              </div></a>


              <a href="{% url 'storiesbytopic' 'innovation' %}"><div class="box7">
                <div class="box-image"><img src="{% static './images/tech.jpg' %}"alt="tech"></div>
                <div class="box-title"><p>Innovation</p></div>
                </div></a>

                <a href="{% url 'storiesbytopic' 'arts-and-entertainment' %}"><div class="box8">
                  <div class="box-image"><img src="{% static './images/culture.jpg' %}"alt="Culture"></div>
                  <div class="box-title"><p>Arts & Entertainment</p></div>
                  </div></a>

                  <a href="{% url 'storiesbytopic' 'inspiring-and-uplifting' %}"><div class="box9">
                    <div class="box-image"><img src="{% static './images/inspire.jpg' %}"></div>
                    <div class="box-title"><p>Inspiring & Uplifting</p></div>
                    <!-- <div style="font-size: 12px;"><p>Don't cry for me, Poland!</p></div>
                    <div style="font-size: 10px; color:rgb(191, 191, 191);"><p>Aug. 1, 2020</p></div> -->
                    </div></a>

                 <a href="{% url 'storiesbytopic' 'global-affairs' %}"><div class="box10">
                    <div class="box-image"><img src="{% static './images/globalaffairs.jpg' %}" alt="women"></div>
                    <div class="box-title"><p>Global affairs</p></div>
                   
                    </div></a>
                    
          <div class="box11">
            <p> Relevant & Irreverent is published every Saturday at 8 a.m., Mumbai time. </p>
        </div>
      </div>
      </main>
      <div class="bottom-grid">
        {%for stories in random_stories%}
        <div class="story-cards"><p id = "headline"><a href="{% url 'newscontent' stories.id %}">{{stories.title}}</a></p> <p id = "headline-date">{{stories.published_date}}</p></div>
        {%endfor%}
      </div>
      
      <script>
        var u = document.getElementById("sub-btn");
        var n = document.getElementById("email-field");
        var m = document.getElementById("final-sub-btn");
        u.addEventListener("click",k);
        // m.addEventListener("click",l)
        function k(e){
        u.style.display = "none";
        n.style.display = "";
        m.style.display = "";
        }
      </script>
<div class="subs-form-bottom">
  <form action="{% url 'subscribe' %}" method="POST" class="input-form-bottom">
      {% csrf_token %}
   <div><input type="email" id="email" name="email" placeholder="Enter your email address" required></div>  
   <div><button type="submit" class="sub-btn-bottom" name="subscribe" value="subscribe">Subscribe</button></div>
  </form>
</div>
<div class="messages">{% if messages %}
  <ul>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
      <footer id="main-footer">
        <div class="footer-container">
       
            
            
          <div class="navlinks">
            <ul class="linklist">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'latestnews' %}">Latest</a></li>
                <li><a href="{% url 'archives'%}">Archives</a></li>
                <li><a href="{% url 'storytitle'%}">Contests</a></li>
                <li><a href="{% url 'contactus' %}">Contact</a></li>
            </ul>
          </div>

          <div class="icons">
            <p>Follow us on</p>
            <a target="_blank"  href="https://www.facebook.com/RnIsays"><i class="fab fa-facebook fa-2x sicons"></i></a>
            <a target="_blank" href="http://twitter.com/RnIsays" target="_blank"><i class="fab fa-twitter fa-2x 
                sicons"></i></a>
            <a target="_blank"  href="http://instagram.com/relevant.irreverent" target="_blank"><i class="fab fa-instagram fa-2x sicons"></i></a> 
          </div>
        
        </div>
      </footer>
</body>
</html>