@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Reset*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  height:100%;
}
body{
    font-family:'Open Sans', sans-serif;
    
    
  
   
/*  background: rgb(223, 223, 223);*/
    
    
  color:black;
  line-height:2;
  height:100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:rgb(32, 133, 140);
}
img {
  width: 100%;
}
/* latest*/
.basic{
  margin: 4rem 13rem 250px 13rem;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size:1rem
}
.padstory{
  padding: 30px 0px 10px 0px;
}
.padstory p{
  display:inline;
}
.shareicons{
  padding: 10px 0px 30px 0px;
  text-align: right;
}
.shareicons a{
  padding-left:10px;
}
.mainheading{
  font-size: 1.6rem; 
  font-weight:800;
  text-align: center;
  padding-bottom:10px;
  border-bottom: 1px solid rgb(136, 136, 136);
}
.title{
  font-weight:700 ; 
  color:rgb(238, 96, 20);
}
.storygroup .padstory p a{
  color:rgb(32, 133, 140) !important;
  text-decoration: none !important;
}
.rnipicks{
  padding: 20px 0px 10px 0px;
}

/* Home page new design */
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  top: 0px;
  padding: 0rem 20px;
 
}
.nav-items{
  margin-top: auto;
}
.navlogo {
    padding-top: 50px;
}
ul a {
  font-size: 1.1rem;
  color:black;
  font-weight:700;
  padding: 10px 20px;
  margin: 0 5px;
  
}
ul a:hover {
  color: #f6660c;
}
.navbar ul {
  display: flex;
}
.subscribe-link-wrapper{
  display:flex;
  flex-direction: column; 
  margin-top:auto;
}
.subs-top{
  position:relative;
  margin-left:auto; 
  margin-right:1.5rem;
}
.input-form-wrapper{
  margin-bottom:35px;
}
.sub-input-form{
  display:flex; 
  flex-direction:row;
}
.sub-btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
  color:white;
  background-color:#5e5c5c;
  font-weight: 400;
  font-size:16px;
  border: none;
  border-radius: 5px;
  }
  .sub-btn:hover {
  opacity: 0.9;
  background:#f6660c;
  }
  .sub-input-form input{
  width: 15rem;
  font-size:0.8rem;
  padding:8px;
  border:0.7px solid grey;
  }
  .sub-input-form input:focus{
  outline: none;
  border-color: #f7c08a;
  }
  .messages-top{
    margin: 5px 0px 0px 0px;
    color: #f6660c;
    font-weight: 400;
    padding: 5px 5px 5px 5px;
    text-align: center;
    }




/*Navbar ends*/
/*Main section for new home page*/

.grid-container{
  align-content: center; 
  margin-bottom: 40px;
  max-width:1070;
}
.grid{
  display:grid;
  grid-template-columns:180px 610px 180px ;
  grid-template-rows:75px 130px 130px 130px 130px 75px; 
  grid-row-gap:30px;grid-column-gap:50px;margin:auto;width:1070px;
  margin-top:2rem;
  grid-template-areas:
  'box1 box1 box1'
  'box2 box4 box3' 
  'box5 box4 box6'
  'box7 box4 box8'
  'box9 box4 box10'
  'box11 box11 box11'; 
}
.box1{
  padding:1rem;
  text-align: center;
  grid-area:box1;
}
.main-text{
  
  font-size: 2.1rem;

  margin-bottom: 2rem;
}
.main-text .text-highlight{
  font-size: 2.1rem;
  color: #f6660c;
  font-family: 'Playfair Display', serif; 
  
}
.box2{
  padding:1rem; 
  text-align: center;
  grid-area:box2;
}

.box-image img{ 
  clip-path: circle(50% at 50% 50%);
  position:center;
  background-size: cover; 
  width:70%;
} 

.box-title{ 
  font-size: 12px;
  font-weight:800;
} 
.box3{
  padding:1rem;
  text-align: center;
  grid-area:box3;
}

.box4{
  padding:1rem;
  line-height:2;
  grid-area:box4;
  background:url('{% static './images/world.png' %}');
  clip-path: circle(50% at 50% 50%);
  position:relative;
}
.box4 p{
  padding: 65px 40px 20px 40px;
  text-align:center;
  font-family: 'Crimson Text', serif;
  font-size:18px;
  font-weight: 500;
}
.box4::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(80, 250, 247, 0.1);
}

.box5{
  padding:1rem;
  text-align: center;
  grid-area:box5;
}
.box6{
  padding:1rem;
  text-align: center;
  grid-area:box6;
}
.box7{
  padding:1rem;
  text-align: center;
  grid-area:box7;
}
.box8{
  padding:1rem;
  text-align: center;
  grid-area:box8;
}
.box9{
  padding:1rem;
  text-align: center;
  grid-area:box9;
}
.box10{
  padding:1rem;
  text-align: center;
  grid-area:box10;
}
.box11{
  padding:1rem;
  text-align: center;
  grid-area:box11;
  font-family: 'Playfair Display', serif;
}

.bottom-grid{
  display:grid;
  grid-template-columns:repeat(6, auto);
  grid-gap:8px;margin:0px 4rem 200px 4rem;
}

.story-cards{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaa inset;
  border-radius: 10px;
  background: #ffffff;
  padding:1rem; 
  font-size:14px;
  font-weight:800;
}

.story-cards #headline{
  font-size:14px;
}

.story-cards #headline-date{
  font-size:10px; 
  color:rgb(147, 147, 147);
}

/*Main section for new home page ends*/

/*Main section for old subscription page*/

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height:80vh;
  
  margin-bottom: 150px;
    
    
}
.main-text{
  
  font-size: 2.1rem;
/*  margin-top:-20rem;*/
  margin-bottom: 2rem;
}
.main-text .text-highlight{
  font-size: 2.1rem;
  color: #f6660c;
  font-family: 'Playfair Display', serif; 
  
}

.content p {
  font-size: 1.2rem;
  padding: 0px 50px 0px 50px;
  margin-bottom: 20px;


}
.input-form {
 
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  
  cursor: pointer;
  display: inline-block;
  padding: 14px 18px;
  color:white;
  background-color:#5e5c5c;
  font-weight: 400;
  font-size:16px;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
  background:#f6660c;
}
.subs-form input{
  width: 20rem;
  font-size:1.2rem;
  padding:10px;
  border:0.7px solid grey;
}
.messages{
    margin: 20px 0px 0px 0px;
    color: #f6660c;
    font-weight: 1000;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
/*Main section for old subscription page ends*/

/*Tag story*/
.main-layout{
  display:flex; 
  flex-direction:row;
  margin:3rem 4rem 200px 4rem; 
  background:rgb(255, 255, 255);
}
.left-layout{
  background:rgb(255, 255, 255); 
  width:30%;
}
.left-layout-title p{
  font-weight: 800;
  color:rgb(0, 0, 0); 
  padding:5px 10px 5px 10px;
}
.left-layout-image img{
  clip-path: circle(50% at 50% 50%);
  position:center;
  background-size: cover; 
  width:30%;
}
.right-layout {
  background:rgb(255, 255, 255); 
  margin:auto;
  margin-top:3rem;
  margin-left:9rem;
  width:fit-content;
}


/*Tag story ends*/


/* Flex columns */
.aboutcontent{
    margin-top: 3rem;
    margin-bottom: 250px;
}
.flex-columns{
  background: #65a1c9;
  
}
.flex-columns.flex-reverse{
    margin-bottom: 200px;
}
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns p {
  margin: 20px 0;
  font-size:1rem;
  font-weight:1000;
  line-height: 2rem;
}
.bottomtext{
    text-align:center;
    margin-top:-6rem;
    margin-bottom: 5rem;
        
}
    
.bottomtext p{
    font-family: 'Playfair Display', serif; 
    font-size:1rem;
     padding: 0px 20px 0px 20px;
        
        
}

/*Contact form*/
#contact-form{
  padding:30px 50px 0px 50px;
  margin-bottom: 200px;
}
.l-heading{
  padding-bottom: 40px; 
}
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
.messagescontact{
    margin: 10px 0px 0px 0px;
    color: #f6660c;
    font-weight: 1000;
    padding: 10px 10px 10px 0px;
    
}
/* Footer */
#main-footer {
  position: fixed;
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(52, 52, 52);
  color:white; 
}
.footer-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .footer-logo{
  display:block;
  width:10%;
} */
.navlinks {
  margin-top: 1.5rem; 
}
.linklist{
  display:flex;
  flex-direction:row;   
}
.linklist a{
font-size: 1rem;
color: white;
}
.icons{
  margin-top:10px;
  margin-left: 40px;
}
.icons a{
  display:inline;
  padding:0px 15px 0px 10px;
  color:#f6660c ;
}
.icons a .sicons{
  font-size:30px;
}
/* archives */
.dateselect{
  background: #739eb6;
  margin: 3rem 2rem 0rem 2rem;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}
.datewidget{
  display:flex;
  flex-direction: row;
  justify-content:center;
}
.yearselect label {
/* font-family:'Times New Roman', Times, serif; */
font-size:1.1rem ;
font-weight: 600;
color:white;
padding:0px 10px 0px 0px;
}
.yearselect select {
  width: 100px;
  font-size:1.1rem;
  border-radius:5px;
  }

  .yearselect select:focus{
    outline: none;
  border-color: #f7c08a
    }
.monthselect{
  margin-left: 1rem;
}
.monthselect select {
  width: 120px;
  font-size:1.1rem;
  border-radius:5px;
  }
.monthselect label{
  /* font-family:'Times New Roman', Times, serif; */
  font-size:1.1rem ;
  font-weight: 600;
  color:white;
  padding:0px 10px 0px 20px;
  
}
.yearselect select:focus{
  outline: none;
border-color: #f7c08a
  }
  .monthselect select:focus{
    outline: none;
  border-color: #f7c08a
    }
    .datewidget .btn {
      cursor: pointer;
      /* display: inline-block; */
      padding: 10px 20px;
      color:black;
      background-color:rgb(215, 255, 233);
      font-weight: 400;
      font-size:16px;
      border: none;
      border-radius: 5px;
      margin-left: 2rem;
    }
    .datewidget .btn:hover {
      opacity: 0.8;
    }
    .errormessage{
      margin: 5rem 5rem 1rem 8rem;
    }
.errormessage img{
      width:50%;
    }

.weekid{
    Margin: 5rem 0px 1.2rem 0px;
    padding: 0px 20px 3rem 15rem;
    line-height: 1.5;
}

.weekid .datestyle{
  
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-weight: 700;
}
.storylist{
  
  font-size:1.1rem;
  font-family:'Open Sans', sans-serif;
}

.storylist a{
  color: black;
  font-size:1rem;
}
.storylist li{
  margin:5px; 
}


.linebreak {
  margin:15px;
  border-bottom:0.5px solid rgb(235, 233, 233);
}

/* story template */
.smicons{
  margin-bottom: 200px;
}
.storybox {
Margin: 10rem 10rem 5rem 10rem;
}
.storytitle{

font-size: 1.4rem !important;
font-family: 'Lora', serif;
color:#f6660c;
font-weight: 700 !important;
padding:0px 0px 40px 0px;
line-height: 1.2 !important;
}
.storycontent{
font-size: 1.1rem !important;
font-weight: 600 !important;

}
.storycontent p a{
color:#2224b5 !important;
text-decoration: none !important;
}
.iconstop{
  display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconstop p{
  font-size:0.8rem;
}   

.iconstop a{
  padding: 0px 15px 0px 5px;
}
.iconstop i{
  font-size:17px;
  color: #bababa;
}
.iconstop i :hover{
  opacity: 0.6;
}
/*Crossword*/
.crossword-instructions{
  margin: 1rem 5rem 2rem 5rem;
}
.crossword-instructions h3{
  color: #f6660c;
  font-weight:700;
}
.crossword-instructions .instruction-list{
  font-size:1rem;
  border: 1px solid rgb(5, 159, 206);
  border-radius: 10px;
}
.crossword-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin:3rem 2rem 200px 2rem;
  
}
.crossword-grid{
  display: inline-flex; 
  flex-direction:column; 
  flex-wrap:wrap; 
  
}

.empty-cell{
  width:25px;
  height:25px;
  background:rgb(68, 68, 68);
}
.input-boxes{
  width:25px;
  height:25px; 
  font-size:1rem;
  text-align: center;
  text-transform: capitalize;
  
}
.crossword-form{
  
  margin-left: auto;
  margin-right:13rem;
}
.clue-box{
  display:flex;
  flex-direction: row;
  margin-left:13rem;
  margin-right:auto;
  

}  

.clue-list {
  
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:top;
  font-size: 1;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
  width:100%;
}
.clue-list .list-title {
  font-size:1.1rem;
  font-weight: 900;
  padding-bottom: 5px;
}
.clue-list .start-position {
  color: #3f0cf6;
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 5px 0px 0px;
  
}
.input-wrapper{
  position:relative;
  float:left;
  width:25px;
  height:25px;
}

.input-wrapper .unit{
  position:absolute;
  top:4px;
  left:4px;
  font-size:0.6rem;
}

/* contests */
/* ********** desktop************* */
/* story-title */
.storytitle-title{
  margin:5rem 3rem 40px 3rem;
  background:rgb(255, 245, 201);
  border-radius:20px;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
}
.main-container{
  margin: 3rem 3rem 200px 3rem;
  display:flex; 
  flex-direction: row;
  
}
.storytitle-body{
  width:60%; 
  background: white;
  margin: 40px 0px 40px 0px;
}
.storytitle-content{
  padding:20px 20px 20px 20px;
  margin: 0px 20px 0px 0px; 
  border: 3px outset #808080;
  border-radius:20px ;
}
.storytitle-form{
  width:40%; 
  margin: 40px 0px 40px 0px;
  background: rgb(255, 245, 201);
  padding: 40px 20px 20px 20px;
  border-radius:20px;
}
.storytitle-form label{
  display: block;
  margin-bottom: 5px;
}
.storytitle-form #wish_to_subscribe{
  display: inline;

}
.storytitle-form input {
  width: 100%;
  padding: 10px;
  font-size:0.9rem;
  border: 1px #ddd solid;
  border-radius: 4px;
}

.storytitle-form input:focus {
  outline: none;
  border-color: #f7c08a;
}
.subscribe-me input{
  width:auto; 
  height:10px;
  
}

subscribe-me label{
  display:inline;
  font-size:0.8rem;
}
.storytitle-btn{
  font-size:1rem; 
  color: white;
  background:darkblue; 
  padding:8px 12px 8px 12px;
  border-radius:6px;
}
.contest-submit-message{
  margin: 8rem 10rem 0 10rem; 
  font-size: 1.2rem;
  background:rgb(255, 245, 201);
  line-height:2;
  border-radius:20px;
  padding:30px 30px 30px 30px;
  text-align: center;
}
/* ********** mobile************* */
/* story-title */
@media(max-width: 767px) {
  
  .storytitle-title{
    margin:1rem 10px 20px 10px;
    background:rgb(255, 245, 201);
    border-radius:20px;
    padding: 10px 10px 10px 10px;
  }
  .main-container{
    margin: 10px 10px 180px 10px;
    display:flex; 
    flex-direction: column;
    
  }
  .storytitle-body{
    width:100%; 
    background: white;
  }
  .storytitle-content{
    width:100%; 
    padding:10px 10px 10px 10px;
    border-radius:20px ;
    border:none;
  }
  
  .storytitle-form{
    width:100%; 
    background: rgb(255, 245, 201);
    padding: 30px 20px 10px 10px;
  }
  .storytitle-form label{
    display: block;
    font-size:1rem;
    margin-bottom: 5px;
  }
  .storytitle-form #wish_to_subscribe{
    display: inline;
  
  }
  .storytitle-form input {
    width: 100%;
    padding: 10px;
    font-size:0.9rem;
    border: 1px #ddd solid;
    border-radius: 4px;
  }
  
  .storytitle-form input:focus {
    outline: none;
    border-color: #f7c08a;
  }
  .subscribe-me input{
    width:auto; 
    height:10px;
    
  }
  
  .subscribe-me label{
    display:inline;
    font-size:0.8rem;
  }
  .storytitle-btn{
    font-size:1rem; 
    color: white;
    background:darkblue; 
    padding: 8px 8px 8px 8px;
    border-radius:6px;
  }
  .contest-submit-message{
    margin: 5rem 10px 200px 10px; 
    font-size: 1rem;
    background:rgb(255, 245, 201);
    line-height:1.8;
    border-radius:20px;
    padding:10px 10px 10px 10px;
    text-align: center;
  }
}

/* End of contests */















/* Mobile */
/*************************************************************************/
@media(min-width: 767px) {
.subs-form-bottom{
  display:none;
}
}
@media(max-width: 420px) {
    
    body{
        line-height:2;   
    }

  /* new home page for mobile starts*/

  /*navigation*/
  
.navbar {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 200px;
    background:rgb(0, 0, 0);
}
.navlogo{
  padding:0px;
  margin-top:1.5rem;
  /* background:black; */
}
.nav-items{
margin: -2.5rem;
border-bottom: 1px solid rgb(255, 255, 255);
/* background: green; */
}
.navbar a {
    padding: 10px 10px;
    margin: 0 3px;
}
ul a {
  font-size: 1rem;
  color:white;
  font-weight:700;
  padding: 0px 20px;
  margin: 0 5px;
}

/* Navbar ends */


  .subs-top{
    display:none;
  }
  .grid-container{
    align-content: center; 
    margin-bottom: 40px;
    
  }
  .grid{
    display:grid;
    /* grid-template-columns:87px 87px 87px 87px ; */
    grid-template-columns:95px 95px 95px 95px ;
    grid-template-rows:70px 250px 250px 100px 100px 70px;
    grid-row-gap:20px;
    grid-column-gap:5px;
    margin:auto;
    width:395px;
    margin-top:1rem;
    grid-template-areas:
    'box1 box1 box1 box1'
    'box4 box4 box4 box4'  
    'box4 box4 box4 box4' 
    'box2 box3 box5 box6'    
    'box7 box8 box9 box10' 
    'box11 box11 box11 box11'; 
  }
  .box1{
    padding:1rem;
    margin-top:20px;
    text-align: center;
    grid-area:box1;
  }
  .main-text{
    
    font-size: 1.4rem;
    margin:auto;
    margin-top:-1rem;
    
  }
  .main-text .text-highlight{
    font-size: 1.4rem;
    color: #f6660c;
    font-family: 'Playfair Display', serif; 
    
  }
  .box2{
    padding:1rem; 
    text-align: center;
    grid-area:box2;
  }
  
  .box-image img{ 
    clip-path: circle(50% at 50% 50%);
    position:center;
    background-size: cover; 
    width:100%;
  } 
  
  .box-title{ 
    font-size: 10px;
    line-height:1;
    font-weight:800;
  } 
  .box3{
    padding:1rem;
    text-align: center;
    grid-area:box3;
  }
  
  .box4{
    margin-top:-1rem;
    
    line-height:1.7;
    grid-area:box4;
    background:url('{% static './images/world.png' %}');
    clip-path: circle(50% at 50% 50%);
    
    position:relative;
  }
  .box4 p{
    padding: 50px 20px 0px 20px;
    text-align:center;
    font-family: 'Crimson Text', serif;
    font-size:15px;
    font-weight: 400;
  }
  .box4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 250, 247, 0.1);
  }
  
  .box5{
    padding:1rem;
    text-align: center;
    grid-area:box5;
  }
  .box6{
    padding:1rem;
    text-align: center;
    grid-area:box6;
  }
  .box7{
    padding:1rem;
    text-align: center;
    grid-area:box7;
  }
  .box8{
    padding:1rem;
    text-align: center;
    grid-area:box8;
  }
  .box9{
    padding:1rem;
    text-align: center;
    grid-area:box9;
  }
  .box10{
    padding:1rem;
    text-align: center;
    grid-area:box10;
  }
  .box11{
    padding:1rem;
    text-align: center;
    grid-area:box11;
    font-size:12px;
    font-family: 'Playfair Display', serif;
  }

  .bottom-grid{
    display:none;
  }
  .subs-form-bottom{
      display:"";
      width:100%;
      text-align: center;
     }
  .input-form-bottom{
    
    display:flex; 
    flex-direction:row;
    align-content:center;
    justify-content: center;
  }
.sub-btn-bottom {
cursor: pointer;
display: inline-block;
padding: 8px 10px;
color:white;
background-color:#5e5c5c;
font-weight: 400;
font-size:16px;
border: none;
border-radius: 5px;
}
.sub-btn-bottom:hover {
opacity: 0.9;
background:#f6660c;
}
.input-form-bottom input{
width: 15rem;
font-size:0.8rem;
padding:8px;
border:0.7px solid grey;
}
.input-form-bottom input:focus{
outline: none;
border-color: #f7c08a;
}

/*home page for new home page for mobile ends*/

/*old home page for mobile starts*/
/* Navbar */
.navbar-old {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 200px;
  background:rgb(0, 0, 0);
}
.navlogo-old{
padding:0px;
margin-top:-2rem;
/* background:black; */
}
.nav-items-old{
margin: -1.5rem;
border-bottom: 1px solid rgb(255, 255, 255);
/* background: green; */
}
.navbar-old a {
  padding: 10px 10px;
  margin: 0 3px;
}
ul a {
font-size: 1rem;
color:white;
font-weight:700;
padding: 0px 20px;
margin: 0 5px;
}

/* main-content */

.content {
margin-bottom: 0px;

}
.main-text-old{
font-size: 1.5rem;
margin-top: -2.5rem;
margin-bottom: 1rem;
line-height: 1.2;
padding: 10px 10px 10px 10px;
}
.main-text-old .text-highlight{
font-family: 'Playfair Display', serif; 
font-size: 1.5rem;
line-height: 1.2; 
}
.content p {
font-size: 1rem;
padding: 0px 30px 0px 30px;
margin-bottom: 20px;
line-height: 1.5;
}
.input-form {
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.btn {
margin-top: 10px;
background-color: #f6660c;


}
.subs-form input{
width: 16rem;
font-size:1.2rem;
padding:10px;
border:0.7px solid grey;
}
.messages{
margin: 10px 0px 0px 0px;
color: #f6660c;
font-weight: 1000;
padding: 10px 10px 10px 10px;
text-align: center;
}
/*old home page for mobile ends*/
/*Tag story mobile starts*/

  
  .main-layout{
  display:flex; 
  flex-direction:column;
  margin:1.5rem 1rem 200px 1rem; 
  
  }
  .left-layout{
  width:100%;
  
  
  }
  
  .left-layout-title{
  text-align: center;
  
  }
  .left-layout-title p{
  font-weight: 800;
  color:rgb(0, 0, 0); 
  
  }
  .left-layout-image {
  text-align: center;
  
  
  
  }
  .left-layout-image img{
  
  clip-path: circle(50% at 50% 50%);
  position:center;
  background-size: cover; 
  width:20%;
  }
  .left-layout-quote{
  border-bottom:0.2px solid rgb(182, 181, 181);
  }
  
  .left-layout-quote p{
  padding:10px;
  color:rgb(94, 94, 94);
  }
  
  .right-layout {
    width:100%;
    margin:auto;
    margin-top: 1.5rem;
    
}
  
  /*Tag story mobile ends*/
  /* Footer */
#main-footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(52, 52, 52);
  color:white; 
}
.footer-container{
  /* background: crimson; */
  display:flex;
  align-content: center;
  justify-content: center;
}
/* .footer-logo{
  display:block;
  width:10%;
} */
.navlinks {
  margin-top: 1rem; 
  display:none;
}
.linklist{
  display:none;
  display:flex;
  flex-direction:row;   
}
.linklist a{
display:none;
padding: 5px 5px 5px 15px;
font-size: 0.8rem;
color: white;
}
.icons{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  /* background: blue; */
}
.icons p{
  font-size: 0.8rem;
  display: inline-block;
}
.icons a{
  display:inline-block;
  height: 5px;
  padding:0px 5px 0px 5px;
  color:#f6660c ;
}
.icons a .sicons{
  font-size:20px;
}
/* About Section*/
.aboutcontent{
   margin-top:0rem;
   margin-bottom:0rem;
  font-size: 1.1rem
   
}
.flex-columns{
margin-top:0rem;
  
}
  .flex-items {
      flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
      flex: 100%;
      max-width: 100%;
  }
.bottomtext{
    text-align:center;
    margin-top:-4rem;
    margin-bottom: 5rem;
        
}
    
.bottomtext p{
    font-family: 'Playfair Display', serif; 
    font-size:14px;
    padding: 0px 20px 0px 20px;
     
        
}
    
 /*Contact form*/
 
#contact-form{
  margin-top: 6rem;
  margin-bottom: 4rem;

  padding:0px 0px 30px 30px;
}
#contact-form label{
  font-size:1rem;
}
.l-heading{
  margin-top:-3rem;
  font-size:1rem;
  font-weight: 700;
  padding-bottom: 20px; 
}
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 300px;
  padding: 5px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 100px;
}
.messagescontact{
    margin: 10px 0px 0px 0px;
    color: #f6660c;
    font-weight: 1000;
    padding: 10px 10px 10px 0px;
    
}


/* archives */ 
.dateselect{
  background: #739eb6;
  margin: 1.5rem 1rem 0rem 1rem;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}
.datewidget{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.yearselect label {
/* font-family:'Times New Roman', Times, serif; */
font-size:1rem ;
font-weight: 600;
color:white;
padding:0px 10px 0px 0px;
}
.yearselect select {
  width: 80px;
  font-size:1rem;
  border-radius:5px;
  margin-bottom:1rem;
  }

  .yearselect select:focus{
    outline: none;
  border-color: #f7c08a
    }
.monthselect{
  margin-left: -2rem;
}
.monthselect select {
  width: 100px;
  font-size:1rem;
  border-radius:5px;
  }
.monthselect label{
  /* font-family:'Times New Roman', Times, serif; */
  font-size:1rem ;
  font-weight: 600;
  color:white;
 padding:0px 10px 0px 40px;
  
}
.yearselect select:focus{
  outline: none;
border-color: #f7c08a
  }
  .monthselect select:focus{
    outline: none;
  border-color: #f7c08a
    }
    .datewidget .btn {
      cursor: pointer;
      /* display: inline-block; */
      padding: 5px 20px;
      color:black;
      background-color:rgb(215, 255, 233);
      font-weight: 400;
      font-size:16px;
      border: none;
      border-radius: 5px;
      margin-left: 2.5rem;
    }
    .datewidget .btn:hover {
      opacity: 0.8;
    }
    .errormessage{
      margin: 1rem 1rem 100px 2rem;
    }
    .errormessage img{
      width:70%;
    }
.weekid{
  Margin: 3rem 0px 20px 30px;
    padding: 0px 20px 200px  20px;
    line-height: 1.2;
    
}
.datestyle{
    text-indent:0rem;
  font-size:1.2rem;
  font-family: 'Lora', serif;  
}

.storylist{
  font-size:1rem;
  font-family:'Open Sans', sans-serif;
}
.storylist li{
  text-indent:-0.9rem;
  margin:10px;
  
  
}
.storylist a{
  color: black;
  padding: 5px 8px;
  font-size:1rem;
  font-family:'Open Sans', sans-serif;
}
.linebreak {
  margin:15px;
border-bottom:0.8px solid rgb(235, 233, 233);
}
    /* story template */
.smicons{
    margin-bottom: 150px;
    

/*   background: #f7c08a; */
}
.iconstop{
  display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconstop{
  font-size:0.8rem;
}   

.iconstop a{
  padding: 0px 15px 0px 5px;
}
.iconstop i{
  font-size:17px;
  color: #bababa;
}
.iconstop i :hover{
  opacity: 0.6;
}
.storybox {
Margin: 3rem 2rem 6rem 2rem;

}
.storytitle{
font-size: 1.3rem !important;
font-family: 'Lora', serif;
font-weight: 700;
padding:0px 0px 20px 0px;
line-height: 1.2;
}
.storycontent{
font-size: 1rem !important;
margin-bottom: 0rem;
overflow:auto;
}
.storycontent p a{
color:rgb(32, 133, 140) !important;
text-decoration: none !important;
}
    
    
    
/* latest*/
.basic{
  margin: 40px 0rem 200px 0rem;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size:1rem;
}
.padstory{
  padding: 20px 20px 20px 20px;
}
.padstory p{
  display:inline;
}
.shareicons{
  padding: 10px 20px 30px 0px;
  text-align: right;
}
.shareicons a{
  padding-left:10px;
}
.mainheading{
  font-size: 25px; 
  font-weight:800;
  text-align: center;
  padding-bottom:30px;
  border-bottom: 1px solid rgb(136, 136, 136);
}
.title{
  font-weight:700 ; 
  color:rgb(238, 96, 20);
}
.storygroup a{
  color:rgb(32, 133, 140);
  text-decoration: none;
}
.rnipicks{
  padding: 20px 20px 10px 20px;
}
    
}
@media(orientation: landscape){
   .main-text{
    
    margin-top: -1rem;
    
  }
}
@media(max-width: 1070px) and (min-width:767px){
  .grid{
display:grid;
grid-template-columns:140px 520px 140px ;
grid-template-rows:65px 115px 115px 115px 115px 65px; 
grid-row-gap:20px;grid-column-gap:5px;margin:auto;width:820px;
margin-top:2rem;
  }
  .main-text{

font-size: 1.7rem;

margin-bottom: 1.5rem;
}
.main-text .text-highlight{
font-size: 1.7rem;
color: #f6660c;
font-family: 'Playfair Display', serif; 

}
.box-title{ 
line-height:1.2;
font-size: 12px;
font-weight:800;
} 
.box4{
padding:1rem;
line-height:2;
grid-area:box4;
background:url('{% static './images/world.png' %}');
clip-path: circle(50% at 50% 50%);
position:relative;
}
.box4 p{
padding: 30px 40px 20px 40px;
text-align:center;
font-family: 'Crimson Text', serif;
font-size:16px;
font-weight: 500;
}
.bottom-grid{
display:grid;
grid-template-columns:repeat(1, auto);
grid-gap:8px;margin:0px 4rem 200px 4rem;
}

.story-cards{
box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23), 0 0 3px #aaa inset;
border-radius: 10px;
background: #ffffff;

font-size:12px;
font-weight:800;
display:grid;
grid-template-columns: auto auto;
}

.story-cards #headline{
font-size:12px;
}

.story-cards #headline-date{
font-size:10px;
margin-left:auto;
color:rgb(147, 147, 147);
}
}

@media(max-width: 767px) and (min-width:420px){

.grid{
display:grid;
/* grid-template-columns:87px 87px 87px 87px ; */
grid-template-columns:105px 105px 105px 105px ;
grid-template-rows:70px 200px 200px 100px 100px 70px;
grid-row-gap:20px;
grid-column-gap:5px;
margin:auto;
width:435px;
margin-top:1rem;
grid-template-areas:
'box1 box1 box1 box1'
'box4 box4 box4 box4'  
'box4 box4 box4 box4' 
'box2 box3 box5 box6'    
'box7 box8 box9 box10' 
'box11 box11 box11 box11'; 
}

.main-text{

font-size: 1.4rem;
margin:auto;
margin-top:-1rem;

}
.main-text .text-highlight{
font-size: 1.4rem;
color: #f6660c;
font-family: 'Playfair Display', serif; 

}

.box-title{ 
font-size: 10px;
line-height:1;
font-weight:800;
} 

.box4{
margin-top:-1rem;

line-height:1.7;
grid-area:box4;
background:url('{% static './images/world.png' %}');
clip-path: circle(50% at 50% 50%);

position:relative;
}
.box4 p{
padding: 40px 20px 0px 20px;
text-align:center;
font-family: 'Crimson Text', serif;
font-size:15px;
font-weight: 400;
}

}


