{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173563544-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173563544-1');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Relevant and Irreverent | Welcome</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static './css/style.css' %}">
  
</head>
<body>
  <header class='top-header'>
    <div class="navbar">
      <div class="navlogo">
        <img src="{% static './images/R&I-logo.png' %}" alt="logo">
      </div>
   <div class="subscribe-link-wrapper">
    <div class="subs-top">
      <!-- <div class="messages-top" id="message-top">{% if messages %}
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div> -->
      <div><button  class="sub-btn" id ="sub-btn"  name="check-result" value="check-result">Subscribe</button></div>
      
      <div class="input-form-wrapper" id="input-form" style="margin-bottom:35px;">
      <form action="{% url 'subscribe' %}" method="POST" class="sub-input-form" id="input-form">
          {% csrf_token %}
       <div> <input type="email" id="email-field" style="display:none;" name="email" placeholder="Enter your email address" required></div>  
       <div> <button type="submit" class="sub-btn" id ="final-sub-btn" style="display:none;" name="subscribe" value="subscribe">Subscribe</button></div>
      </form>
    </div>
    
    </div>
    
        <nav class="nav-items">
          <ul>
              <li><a href="{% url 'index'%}">Home</a></li>
            <li><a href="{% url 'latestnews' %}">Latest</a></li>
            <li><a href="{% url 'archives'%}">Archives</a></li>
            <li><a href="{% url 'contests'%}">Contests</a></li>
            <li><a href="{% url 'contactus' %}">Contact</a></li>
          </ul>
        </nav>
      </div>
      </div>
  </header>
      <main>
          <section class= "dateselect">
              <form action="{% url 'search' %}"class = "datewidget">
                  {% csrf_token %}
                <div class = "yearselect">
                  <label for="year" >Year</label>
                  <select name="year" id="year">
                    <option value="2020">2020</option>
                    
                  </select>
                </div>
                <div class = "monthselect" >
                  <label for="month">Month</label>
                  <select name="month" id="month">
                    {% for key,value in month_dict.items %}
                    {%if value <= last_month_of_year%}
                    {%if value >= first_month_of_year%}
                    <option value="{{value}}"{% if value == month %} selected {%endif%}>{{key}}</option>
                    {%endif%}
                    {%endif%}
                    {%endfor%}
                  </select>
                </div>
                  <button type="submit" class="btn">Go!</button>
                </form>
      </section>
        <section>
          
          <div class="weekid">
              {%if length_query != 0 %}
              {% regroup stories_selected_month|dictsortreversed:"published_date" by published_date as newslist %}
              <ul>
                {% for published_date in newslist %}
                <li class="datestyle">{{ published_date.grouper}}
                  <ul class="storylist">
                    {% for story in published_date.list %}
                    <li><a href="{% url 'newscontent' story.id %}">{{story.title}}</a></li>
                    {% endfor %}
                </ul>
              </li>
          <div class="linebreak"></div>
          {% endfor %}
          </ul>
          </div>
          {%else%}
          <p></p>
          <div class ="errormessage" >
            <div><img src="{% static 'images/errordog.jpg' %}" alt="nodog">
            </div>
          </div>
          
          {%endif%}
        </section>
      </main>
      <footer id="main-footer">
        <div class="footer-container">
       
            <!-- <div class="footer-logo">
                <img src="{% static 'images/R&I-logo.png' %}" alt="R&I">
            </div> -->
            
          <div class="navlinks">
            <ul class="linklist">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'latestnews' %}">Latest</a></li>
                <li><a href="{% url 'archives'%}">Archives</a></li>
                <li><a href="{% url 'contests'%}">Contests</a></li>
                <li><a href="{% url 'contactus' %}">Contact</a></li>
            </ul>
          </div>

          <div class="icons">
            <p>Follow us on</p>
            <a target="_blank"  href="https://www.facebook.com/RnIsays"><i class="fab fa-facebook fa-2x sicons"></i></a>
            <a target="_blank" href="http://twitter.com/RnIsays" target="_blank"><i class="fab fa-twitter fa-2x 
                sicons"></i></a>
            <a target="_blank"  href="http://instagram.com/relevant.irreverent" target="_blank"><i class="fab fa-instagram fa-2x sicons"></i></a> 
          </div>
        
        </div>
      </footer>
</body>
</html>